@import "tailwindcss";

@theme {
  --color-background: hsl(270 11.1% 3.5%);
  --color-background-alt: hsl(0 0% 10%);
  --color-background-alt-2: hsl(0 0% 2%);
  --color-foreground: hsl(0 0% 50%);
  --color-foreground-alt: hsl(0 0% 40%);
  --color-border-primary: hsl(0 0% 14%);

  /* Gray scale */
  --color-gray-50: hsl(0 0% 98%);
  --color-gray-100: hsl(0 0% 95%);
  --color-gray-200: hsl(0 0% 90%);
  --color-gray-300: hsl(0 0% 80%);
  --color-gray-400: hsl(0 0% 70%);
  --color-gray-500: hsl(0 0% 60%);
  --color-gray-600: hsl(0 0% 50%);
  --color-gray-700: hsl(0 0% 40%);
  --color-gray-800: hsl(0 0% 30%);
  --color-gray-900: hsl(0 0% 20%);
  --color-gray-1000: hsl(0 0% 10%);

  /* --font-jaro: "Jaro"; */
  --font-cascadia: "Cascadia Code", monospace;

  --animate-expand-from-top-to-bottom-4000: expand-from-top-to-bottom 2s ease-out forwards;
  --animate-scale-appear-x: scale-appear-x 1s ease-out forwards;
  --animate-scale-disappear-x: scale-disappear-x 1s ease-out forwards;
  --animate-scale-appear: scale-appear var(--duration, 200ms) ease-out forwards;
  --animate-scale-disappear: scale-disappear var(--duration, 200ms) ease-out forwards;
}

@layer base {
  h1 {
    @apply text-foreground font-cascadia font-bold;
  }

  p {
    @apply font-cascadia;
  }
}

@utility text-gradient-highlight {
  @apply bg-gradient-to-br from-white to-foreground bg-clip-text text-transparent;
}

@utility appearable {
  @apply transition-[translate] data-[direction="up"]:aria-hidden:translate-y-20 data-[direction="down"]:aria-hidden:-translate-y-20 duration-1000 ease-out aria-hidden:opacity-0;
}

.bg-dotted {
  opacity: 0.7;
  /* background-image: radial-gradient(var(--color-border-primary) 1px, transparent 0);
  background-size: 15px 15px;
  background-color: var(--color-background); */
  /* background-position: -19px -19px; */
}

/**
  * PAUSABLE ANIMATIONS
  * 
  * Use this class to pause animations when the element is not visible.
  * This is useful for performance optimization.
*/
[aria-hidden="true"] .pausable {
  animation-play-state: paused;
}

/* 
  KEYFRAMES
*/

@keyframes expand-from-top-to-bottom {
  0% {
    transform: scaleY(0);
    transform-origin: top;
  }
  100% {
    transform: scaleY(1);
    transform-origin: top;
  }
}

@keyframes scale-appear-x {
  0% {
    transform: scaleX(0);
  }
  100% {
    transform: scaleX(1);
  }
}

@keyframes scale-disappear-x {
  0% {
    transform: scaleX(1);
  }
  100% {
    transform: scaleX(0);
  }
}

@keyframes scale-appear {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scale-disappear {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
